@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Russo One', sans-serif;
}

header {
    display: flex;

    background-color: rgb(77, 80, 248);
    color: rgb(255, 255, 255);
}

header > img {
    width: 200px;
}

header > nav {

    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;

    list-style: none;
}

nav ul li {
    flex-shrink: 0;
}

nav ul a {
    font-size: 1.6rem;
    color: inherit;
    text-decoration: none;
}
#canvasContainer {
    width: 500px;
    height: 400px;
    margin: 2rem auto;
    overflow: hidden;
  
    outline: 10px solid rgb(4, 0, 250);
    border-radius: 15px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7);
  }
  
